.nav-list {
  li {
    .near {
      padding-left: 0px;
      padding-right: 0px;
    }

    .long {
      margin-right: 20px;
      max-width: 25em;
      width: 25em;
    }
  }

  .separated {
    border-left: 1px solid;
  }
}

